
{% extends 'layout.html.twig' %}
{% block title %}No Game
	{{ parent() }}
{% endblock %}

{% block content %}
    <link href="../assets/styles/noGame.css" rel="stylesheet" type="text/css"/>
    <section>
        <div class="container">
            <h1>Pas de partie en cours</h1>
            <p>Aucun cadavre n'est en cours.</p>
            <a href="/">Retour à l'accueil</a>
        </div>
    </section>
{% endblock %}

