{% extends 'layout.html.twig' %}
{% block title %}No Game
	{{ parent() }}
{% endblock %}

{% block content %}
    <link href="../assets/styles/sucess.css" rel="stylesheet" type="text/css"/>
    <section>
        <div class="container">
            <h1>BRAVOOOO !</h1>
            <p>Votre contribution a été ajoutée avec succès.</p>
            <a href="/">Retourner à l'accueil pour visualiser</a>
        </div>
    </section>
{% endblock %}