{% extends 'layout.html.twig' %}
{% block title %}Connexion{{ parent() }}{% endblock %}
{% block content %}
    <body class="bg-gradient screen--wrapper">
        <link href="assets/styles/main.css" rel="stylesheet" type="text/css"/>
        <header class="logo">
            <svg class="logo__img" id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 223.23 136.85">
                <!-- ... (contenu du logo) ... -->
            </svg>
            <div class="logo__text">
                <p>Cadavre exquis</p>
                <p>BY SAID</p>
            </div>
        </header>
        <section class="authForm color-white">
            <h2 class="authForm--header">
                Connectez-vous à
                <br>
                votre espace
            </h2>
      			<form action="/connexion" method="POST">
				<input class="authForm--input color-white" placeholder="Votre adresse mail" type="email" id="email" name="email" required>
				<input class="authForm--input color-white" placeholder="Votre mot de passe" type="password" id="mdp" name="mdp" required>
				<input class="authForm--button button-full color-white" type="submit" value="Se connecter">
			</form>
            {% if errorMessage %}
                {% if errorMessage %}
				<p class="error" aria-label="Message d'erreur">
					<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
						<path fill="currentColor" d="M12 17q.425 0 .713-.288T13 16q0-.425-.288-.713T12 15q-.425 0-.713.288T11 16q0 .425.288.713T12 17Zm-1-4h2V7h-2v6Zm1 9q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22Zm0-2q3.35 0 5.675-2.325T20 12q0-3.35-2.325-5.675T12 4Q8.65 4 6.325 6.325T4 12q0 3.35 2.325 5.675T12 20Zm0-8Z"/>
					</svg>
					{{ errorMessage }}
				</p>
			{% endif %}
            {% endif %}

            <p class="authForm--register-link">
                Vous n'avez pas de compte ? <a href="/inscription">Inscrivez-vous ici</a>
            </p>
        </section>
    </body>
{% endblock %}
