{% extends 'layout.html.twig' %}
{% block title %}Connexion
	{{ parent() }}
{% endblock %}
{% block content %}
	<body class="bg-gradient screen--wrapper">
		<link href="assets/styles/main.css" rel="stylesheet" type="text/css"/>
		<header class="logo">
			<svg class="logo__img" id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 223.23 136.85">
				<path d="M196.8,493.18V462h91.89c.73-4.06-1.61-6-4.37-7.13-4.6-1.92-9.36-3.42-14.07-5.05-14.48-5-29-9.86-43.43-15.06C216.3,430.9,207.35,425,201.41,415a34.33,34.33,0,0,1,4-40.27C216.22,362.67,230,357.15,245.9,357c34.93-.24,69.86-.7,104.77.13,28.68.68,50.76,14,63.26,40.26,7.28,15.29,7.59,31.62,2.54,48.13a64,64,0,0,1-18.69,28.79c-10.75,9.82-23.53,16.57-38.33,17.82-11.5,1-23.08.93-35.53,1.37a53,53,0,0,0,2.81-6.26c2.06-7.26,4.2-14.52,5.79-21.89.57-2.65,1.33-3.42,4-3.6,7.67-.5,15.64-.24,22.91-2.31,18.39-5.24,32.21-24.16,26.52-43.39-4.28-14.47-14.75-22.4-28.69-26.1A65.71,65.71,0,0,0,341,388q-45.09-.27-90.18,0c-4.57,0-9.5-.07-13.12,1.82a8.94,8.94,0,0,0-4.45,7.69,5.84,5.84,0,0,0,4.21,6L264.17,413c12.08,4.29,24.38,8.06,36.18,13,14.32,6,21.56,17.35,22,33,.26,9.81-1,19.09-6.55,27.51-2.77,4.21-5.81,6.73-11.41,6.69-34.17-.25-68.34-.12-102.52-.12Z" transform="translate(-196.66 -356.69)"/>
				<path d="M324.77,397.43v35.89c-1.95-2.36-3.19-4.15-4.7-5.66a53.64,53.64,0,0,0-23.47-13.9c-2.57-.74-4-2-4.16-4.48a76.12,76.12,0,0,1-.12-9.67c0-.76,1.19-2.08,1.84-2.09C304.33,397.39,314.5,397.43,324.77,397.43Z" transform="translate(-196.66 -356.69)"/>
			</svg>
			<div class="logo__text">
				<p>Cadavre Exquis</p>
				<p>By DSK</p>
			</div>
		</header>
		<section class="authForm color-white">
			<h2 class="authForm--header">
				Connectez-vous à
				<br>
				votre espace
			</h2>
			<form action="/connexion" method="POST">
				<input class="authForm--input color-white" placeholder="Votre adresse mail" type="email" id="email" name="email" required>
				<input class="authForm--input color-white" placeholder="Votre mot de passe" type="password" id="mdp" name="mdp" required>
				<input class="authForm--button button-full color-white" type="submit" value="Se connecter">
			</form>
			{% if errorMessage %}
				<p class="error" aria-label="Message d'erreur">
					<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
						<path fill="currentColor" d="M12 17q.425 0 .713-.288T13 16q0-.425-.288-.713T12 15q-.425 0-.713.288T11 16q0 .425.288.713T12 17Zm-1-4h2V7h-2v6Zm1 9q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22Zm0-2q3.35 0 5.675-2.325T20 12q0-3.35-2.325-5.675T12 4Q8.65 4 6.325 6.325T4 12q0 3.35 2.325 5.675T12 20Zm0-8Z"/>
					</svg>
					{{ errorMessage }}</p>
			{% endif %}
		</section>
	</body>
{% endblock %}