.etudMeetings {
  display: flex;
  flex-direction: column;
}

.etudMeetings--title {
  font-size: 1.25rem;
  padding-bottom: 1.125rem;
  font-weight: 600;
  letter-spacing: -0.54px;
  color: var(--dark-grey);
}

.etudMeetings--item {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: var(--light-grey);
  border: 1px solid #adb3b9;
  border-radius: 0.75rem;
  padding: 1rem;
  margin-bottom: 1.25rem;
}

.etudMeetings--item:first-child {
  background-color: var(--dark-grey);
}

/* Inversion des couleurs */
.etudMeetings--item:not(:first-child) .etudMeetings--item--name,
.etudMeetings--item:not(:first-child) .etudMeetings--item--link {
  color: var(--dark-grey);
}

.item-first .etudMeetings--item--name,
.item-first .etudMeetings--item--link {
  color: var(--white);
}
.item-first .etudMeetings--item--name {
  font-size: 1.5rem;
}
.etudMeetings--item--link {
  text-decoration: underline;
}

.etudMeetings--item--button {
  color: var(--white);
  text-decoration: none;
}

.etudMeetings__popup {
  border-top: 4px solid var(--blue);
  min-height: 300px;
  position: fixed;
  z-index: 999;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.115rem;
  background-color: var(--white);
  bottom: 0;
  left: 0;
}

.etudMeetings__popup p {
  font-weight: 600;
}

.etudMeetings__popup ul {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.etudMeetings__popup .etudMeetings--item--link {
  color: var(--blue);
}

.etudMeetings__new {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #b2b3b6;
}

.etudMeetings__infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.etudMeetings__subtitle {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--dark-grey);
}

.etudMeetings__linkOffer {
  color: var(--blue);
}

.etudMeetings__new .button-full {
  display: inline-block;
  color: var(--white);
  text-decoration: none;
  margin-left: auto;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
  height: max-content;
}

.not-available {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  background-color: var(--white);
}

.not-available svg {
  width: 64px;
  height: 64px;
}

.not-available svg path {
  fill: var(--dark-grey);
}

.not-available p {
  text-align: center;
  line-height: 1.2;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--dark-grey);
}

.not-available button {
  margin: 0 auto;
}
